.content {
    .container {
        padding-top: 90px;
        padding-bottom: 25px;
        padding-left: 50px;
        padding-right: 50px;
        background: rgba(256, 256, 256, .5);
    }

    h2 {
      font-family: 'Dancing Script', cursive;
      text-align: center;
      font-size: 55px;
      color: black;
    }
    p.content__text {
      color: black;
      padding-top: 25px;
      font-size: 16px;
      text-align: justify;
    }

    .content__wood {
        background: url("../img/content__wood.jpg") no-repeat center center;
        background-size: cover;
        display: block;
        -webkit-box-shadow: 0 3px 16px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0 3px 16px 2px rgba(0,0,0,0.75);
        box-shadow: 0 3px 16px 2px rgba(0,0,0,0.75);
    }

    .content__woll {
        background: url("../img/content__woll.jpg") no-repeat center center;
        background-size: cover;
        display: block;
        -webkit-box-shadow: 0 3px 16px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0 3px 16px 2px rgba(0,0,0,0.75);
        box-shadow: 0 3px 16px 2px rgba(0,0,0,0.75);
    }
}
