body {
  position: relative;
}
body .scroller {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}
body .scroller span {
  color: black;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
.header {
  background: url("../img/header__bg.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  position: relative;
  -webkit-box-shadow: 0 3px 16px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 3px 16px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0 3px 16px 2px rgba(0, 0, 0, 0.75);
}
.header img.header__logo {
  margin: 0 auto;
  width: 150px;
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.3s;
}
.header .header__navigation {
  margin-top: 150px;
  text-align: center;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
}
.header .header__navigation li {
  list-style: none;
  display: block;
  width: 100%;
  margin-bottom: 25px;
}
.header .header__navigation li a {
  display: block;
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  width: 100%;
  background: red;
  color: black;
  background: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding: 20px;
  transition: all 0.3s;
  cursor: pointer;
}
.header .header__navigation li a:hover {
  background: #ffffff;
}
.content__wood {
  background: url("../img/content__wood.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}
